<div id="container">
  <div id="searchandtoggles">
    <div class="searchAndTogglesDescription">
      <h5>Filters:</h5>
    </div>
    <div id="visitToggles">
      <a href="/visited">
        <div class="<%=@active['visited']%>">Visited</div></a>
      <a href="/not-visited">
        <div class="<%=@active['not_visited']%>">Not yet visited</div></a>
      <a href="/">
        <div class="<%=@active['all']%>">All</div>
      </a>
    </div>
    <div class="searchAndTogglesDescription">
      <h5> Search by city/country:</h5>
    </div>
    <div id="search" class="mid">
      <form method="post" action="/search">
        <label>
        <input type="text" name="search">
        </label>
        <label>
          <input type="submit" value="Search">
        </label>
      </form>
    </div>

  </div>

  <div id="visits">
    <div id="bucketItems">
      <% @bucketlist.each do |item| %>

      <div class="bucketItem">
        <div class="bucketDescription">
          <div class="cityName">
            <a href="/cities/<%=item.city.id%>/edit">
              <h3><%=item.city.name%></h3>
            </a>
          </div>
          <h4><%=item.city.country.name%></h5>
          <p><%=item.visit_status %></p>
          Change to:
          <% if item.visit_status != "Visited" %>
            <div class="updateStatus">
              <a href="/visit/<%=item.id%>/update-status">Visited</a>
            </div>
          <% else %>
          <div class="updateStatus">
            <a href="/visit/<%=item.id%>/update-status">Not visited</a>
          </div>
          <% end %></a>
        </div>
        <div class="bucketSights">
          <h3>Sights</h3>
          <ul>
            <% if item.sights.length > 0 %>
              <% item.sights.each do |sight| %>
              <li><a href="/sight/<%=sight.id%>/edit"><%= sight.name %></a> </li>
              <% end %>
              <% else %>
              <li> No sights yet</li>
            <% end %>
            <a href="/sight/<%=item.id%>/add-sight"><div class="addSight"><img src="/add.jpg"></img></div></a>
          </ul>
        </div>
      </div>

      <% end %>

        <div id="addItem">
          <a href="/cities/new">
            <img src="/plus.png" alt="plus sign add destination"></img>
          </a>
        </div>


    </div>
  </div>
  <div id="countries">
    <ul>
    <% @countries.each do |country| %>
    <li><a href="/cities/by-country/<%=country.id%>">
      <div class="country">
        <div class="countryName">
          <%= country.name %>
        </div>
        <a href="/countries/<%=country.id%>/edit">
          <div class="countryEdit">
            EDIT
          </div>
        </a>
      </div>
    </a></li>
    <% end %>
    <div class="country">
      <div class="addCountryImg">
        <a href="/countries/new"><img src="/plus.png"></img></a>
      </div>
      <div class="countryNameAdd"><a href="/countries/new">Country</a></div>
    </div>
  </ul>
  </div>
</div>
